{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
      <title>MATERIALES | {{ title }}</title>
    {% else %}
      <title>MATERIALES</title>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>  
  </head>
  <body >
    <header class="sticky-top">
      <div class="container-fluid text-center">
        <div class="row ">
          <div class="col-3 text-center" style="height: 50px; background: #f5f6fa;">
            <a class="" href="">
              <img src="{% static 'images/logo.png' %}" alt="logo" width="160" height="50">
            </a>
          </div>
          <div class="col-8" style="height: 50px; background: #f5f6fa;">
            <div class="mt-3 text-end">
              <p class="fs-6 me-5">
                DEPARTAMENTO TÉCNICO | Ing. Ariel Ramirez Muñoz
              </p>
            </div>
          </div>
          <div class="col text-center" style="height: 50px; background: #f5f6fa;">
            <div class="mt-2">
              <a class="btn btn-sm btn-danger" href="{% url 'logout' %}">Salir</a>
            </div>
          </div>  
        </div>
      </div>
    </header> 
    <div class="container">
      {% block content %} {% endblock content %}  
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>