{% extends "materiales_app/base_login.html" %}
{% load static %}
{% block content %}
	{% if messages %}
		{% for message in messages %}
			{% if message.tags == "success" %}
				<div class="alert alert-primary alert-dismissible fade show text-start" role="alert">
					<small class="fw-light">{{ message }}</small>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
		  	{% else %}
		  		<div class="alert alert-danger alert-dismissible fade show text-start" role="alert">
					<small class="fw-light">{{ message }}</small>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endif %}
		{% endfor %}
  	{% endif %}
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input class="form-control" type="username" name="username" maxlength="50" id="id_username" placeholder="email" autofocus required>
		<input class="form-control" type="password" name="password" id="id_password" placeholder="password" required>
		<input class="w-75 btn btn-primary mt-4" type="submit" name="submit" value="Ingresar">				
	</form>
	<p class="fw-light mt-4">
        <a class="text-decoration-none hov" href="{% url 'list'%}" >
        	<small style="color: #2abb67">¿Olvidaste tu password?</small>
        </a>
    </p>	
{% endblock content %}

