{% extends "materiales_app/base_login.html" %}
{% load static %}
{% block content %}
	<div class="alert alert-primary text-center" role="alert">
		<small class="fw-light">¡Ha salido correctamente de la aplicación!</small>
	</div>
	<p class="fw-light my-4">
		<small>
			<a class="text-primary text-decoration-none" href="{% url 'login' %}" >¿Desea ingresar nuevamente?</a>
		</small>
	</p>
{% endblock content %}